<div class="footer">
<div class="upperFooter">
	<div class="container">
		<div class="row">
		<div class="right col-md-3 col-sm-6 col-xs-12 offset-md-9 offset-sm-6">
			<h4> Холбогдоx Мэдээлэл </h4>
				
                    <p> Асуулт байвал <a href="https://www.facebook.com/oyutniikholboo/" style="opacity:1.0;color:#00aeef;"> Facebook</a>-ээр болон amsa.amox@gmail.com хаягаар бидэнтэй холбогдоно у.</p>
               
        </div>
		</div>
	</div>
</div>
<div class="lowerFooter" 
	style="height: 50px; background-color:#223038;text-align: center;font-size: 13px;color:rgba(255, 255, 255, 0.3); padding: 15px;">
	 © AMSA/АМОX 2017 
</div>
</div>