
{% extends "core/emailLetterBase.html" %}
{% block body %}
<p>Эрхэм {{firstName}} танд энэ өдрийн мэндийг дэвшүүлэе.</p>

<p>Америк дахь Монгол Оюутны Холбоонд гишүүнээр элсэн орох өргөдөл явуулсан таньд баярлалаа. АМОХ-ны гишүүн болсон танд баяр хүргэе. Холбооны гишүүн болсноор та АМОХ-ны <a href="https://www.facebook.com/groups/amsamembers/">Facebook группд</a> орж бусад гишүүдтэй холбогдох ба холбооноос зохион байгуулагдах үйл ажиллагаанд оролцох эрхтэй болж байгаа юм. </p>

<p>Та доорх линкээр орж Facebook группд нэгдэнэ үү. </p>

<p>https://www.facebook.com/groups/amsamembers/</p>

<p>Хэрэв танд АМОХ-ны үйл ажиллагааны талаар лавлах асуулт эсвэл хуваалцах санал бодол байвал amsa.amox@gmail.com хаягаар бидэнтэй холбогдоно уу. </p>

<p>Манай холбооны гэр бүлд тавтай морил.</p>

<p>Хүндэтгэсэн,</p>
<p>АМОХ Төлөөлөн Удирдах Зөвлөл.</p>
{% endblock %}
