
{% extends "core/emailLetterBase.html" %}
{% block body %}
<p>Таньд энэ өдрийн мэндийг дэвшүүлье.</p>

<p>Америк дахь Монгол Оюутны Холбоонд гишүүнээр элсэн орох өргөдөл явуулсан таньд баярлалаа. Бид өргөдлийг тань хүлээн авсан боловч харамсалтай нь одоогийн байдлаар таныг элсүүлэх боломжгүй байгаад хүлцэл өчье. АМОХ бакалавр болон түүнээс дээш зэрэг эзэмших гэж суралцаж буй оюутнуудыг гишүүнээр элсүүлдэг дүрэмтэй юм. Хэрэв та дээрх нөхцөл байдлыг хангаж байгаа ч энэхүү email авсан бол бидэнтэй amsa.amox@gmail.com хаягаар холбогдоно уу. </p>

<p>АМОХ гишүүдээс гадна олон нийтэд нээлттэй үйл ажиллагаа явуулдаг тул биднийг <a href="https://www.facebook.com/oyutniikholboo/">Facebook хуудсаар</a> дагаж таны ойролцоо болох ирээдүйн уулзалт болон ярианд оролцохыг уриалж байна. Мөн та ирээдүйд Америкийн их сургуульд бакалавраас дээш зэрэгээр суралцвал, манай холбоонд гишүүнээр орно гэж найдаж байна. </p>

<p>Хүндэтгэсэн,</p>
<p>АМОХ Төлөөлөн Удирдах Зөвлөл.</p>
{% endblock %}

